.d{
    display:inline-block;
}
#TextBox14{
    border:none;
}
#TextBox24 {
    border: none;
}
.container5 {
    display: flex;
    height: 80px;
    width: 600.483px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}
.point{
    cursor:pointer;
}
.int{
    display:inline-block;
    position:relative;
    top:10px;
}
#ButtonRegister {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 80.2px;
}
.text {
    width: 281.8px;
}
.container2 {
    display: flex;
    height: 280px;
    width: 600.483px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}
#footer{
    text-align:center;
    padding:60px;
    font-size:20px;
}
#heading{
    height:30px;
}
#heading2 {
    height: 30px;
    left: 0px;
    display: inline-block;
    position: relative;
}
#int1{
    left:-30px;
}
#int2 {
    left: -20px;
}
#int3 {
    left: -10px;
}
.container4 {
    display: flex;
    height: 180px;
    width: 600.483px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}
.container{
    display:flex;
    
    justify-content:space-between;
    width:600px;
}
#int4 {
    left: 0px;
}
#int5 {
    left: 10px;
}
#int6 {
    left: 20px;
}
#int7 {
    left: 30px;
}
#int8 {
    left: 40px;
}
#Image2 {
    width: 8.7px;
    height: 9.6px;
    border: 2px solid black;
    border-radius: 100%;
    filter: invert(1);
    background-color: darkgrey;
}
#int9 {
    left: 167.3px;
}
#int10 {
    left: 163.6px;
    top: 11.3px;
}
.e {
    background-color: white;
    margin: 28px;
    position: relative;
  
    height: 40px;
    top: 0px;
}
/*.f{
    border:none;
}*/
#Image {
    position: absolute;
    top: 17px;
}
#sch{
    position:absolute;
    top:10px;
    left:100px;
    display:block;
    width:550px;
    border :1px solid grey;

}
#lang {
    position: absolute;
    top: 20px;
    right:140px;
   
}
#ButtonPostAd{
    padding:10px;
    background-color:blue;
    color:white;
    border-radius:5px;
}

#HyperLink1{
    display:block;
}
#Reg {
    position: absolute;
    top: 20px;
    right:120px;
}
#Btn {
    position: absolute;
    top: 10.6px;
    right: 40px;
}
#TextBox1 {
    padding: 12px;
    width: 200px;
    display: inline-block;
    border:none;
}
#TextBox2 {
    border: none;
}
#TextBox3 {
    border: none;
}
#TextBox23 {
    border: none;
}
#DropDownList1 {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 259px;
}
#TextBox4 {
    display: inline-block;
    position: absolute;
    top: 7.9px;
    left: 365.9px;
}
#Image1 {
    position: absolute;
    top: 3.2px;
    display: inline-block;
    left: 518.5px;
}
header{
    background-color:white;
}
body{
    background-color:whitesmoke;
}